.Title {
    margin-bottom: -80px;
    margin-left: 20px;
    font-size: 47px;
    font-family: Arial;
}

.FlexContainer {
    display: flex;
    text-align: justify;
}

.FlexContainer>div {
    padding: 25px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
}

.MiddParagraph {
    text-align: justify;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin-top: -60px;
    padding: 25px;
}

.FlexContainer--LastContainer {
    margin-top: -60px;
}