body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
}

.Container {
    width: 850px;
    height: 520px;
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    position: relative;
}

.Container__ArrowParticle {
    position: absolute;
    height: 20px;
    left: 594px;
    top: 120px;
}

.Container__Sparkparticle {
    position: absolute;
    left: 300px;
    top: 110px;
    height: 30px;
}

.Container__ZigzagParticle {
    position: absolute;
    left: 365px;
    height: 20px;
    top: 155px;
}

.Container__CancelIcon {
    position: absolute;
    left: 650px;
    top: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Container__PointsImgC {
    display: flex;
    justify-content: center;
}

.PointsImgC__Img {
    width: 340px;
    height: 180px;
}

.Container__PersonalImgC {
    display: flex;
    justify-content: center;
    margin-top: -85px;
}

.PersonalImgC__Img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.PersonalImgC__DownloadB {
    border-radius: 50%;
    background-color: rgb(241, 8, 8);
    width: 22px;
    height: 22px;
    text-align: center;
    margin-right: 4px;
    margin-left: -15px;
    margin-top: 20px;
    font-size: 12px;
}

.PersonalImgC__Title {
    font-size: 8px;
    font-weight: bold;
    width: 5px;
    margin-top: 20px;
}

.Container__ProgressBars {
    display: flex;
    justify-content: start;
    text-align: center;
}

.PBContainer__Wrapper {
    width: 200px;
    margin-right: 40px;
    margin-left: 40px;
}

.Wrapper__ProgressBar {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.ProgressBar__ProgressBarFill {
    display: block;
    height: 3px;
    background-color: purple;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

a {
    color: darkturquoise;
}

p {
    text-align: center;
    color: white;
}

.Container__Footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(34, 32, 32);
}

.Footer__P {
    margin-top: 0;
    margin-bottom: 0;
    border-right: 1px solid rgb(34, 32, 32);
    padding: 20px 20px 20px 20px;
}

.Footer__P>span {
    font-size: 12px;
}

.Footer__BlueS {
    color: darkturquoise;
}