    body {
        display: flex;
        justify-content: center;
    }
    
    .container {
        width: 850px;
        height: 80vh;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: rgba(0, 0, 0, 0.95);
        position: relative;
    }
    
    .circleimg {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
        position: absolute;
        left: 380px;
        top: 95px;
    }
    
    .arrowimg {
        position: absolute;
        height: 20px;
        left: 594px;
        top: 120px;
    }
    
    .sparkimg {
        position: absolute;
        left: 300px;
        top: 110px;
        height: 30px;
    }
    
    .zig1 {
        position: absolute;
        left: 365px;
        height: 20px;
        top: 155px;
    }
    
    .cancelicon {
        position: absolute;
        left: 650px;
        top: 40px;
        color: white;
    }
    
    .downloadc {
        position: absolute;
        left: 460px;
        top: 110px;
    }
    
    p {
        font-size: 15px;
        text-align: center;
        color: darkgray;
    }
    
    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        border-top: 1px solid rgb(34, 32, 32);
    }
    
    .footer__P {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 15px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid rgb(34, 32, 32);
    }
    
    .wrapper {
        width: 200px;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .progress-bar {
        width: 100%;
        background-color: black;
        border-radius: 10px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    }
    
    .progress-bar-fill {
        display: block;
        height: 3px;
        background-color: purple;
        border-radius: 3px;
        transition: width 500ms ease-in-out;
    }