.Container {
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
}

.Container__Square {
    width: 200px;
    height: 200px;
    position: absolute;
}

.Container__Square--Square1 {
    background-color: red;
}

.Container__Square--Square2 {
    background-color: blue;
    margin: 30px;
}

.Container__Square--Square3 {
    background-color: rgb(217, 255, 0);
    margin: 60px;
}