.container div {
    position: absolute;
    width: 200px;
    height: 200px;
}

.square1 {
    top: 40px;
    left: 40px;
    z-index: 1;
    background-color: red;
}

.square2 {
    top: 70px;
    left: 70px;
    z-index: 2;
    background-color: blue;
}

.square3 {
    top: 100px;
    left: 100px;
    z-index: 3;
    background-color: rgb(217, 255, 0);
}