.Square {
    width: 200px;
    height: 200px;
}

.Square--Square1 {
    background-color: red;
    margin-top: 40px;
    margin-left: 40px;
}

.Square--Square2 {
    background-color: blue;
    margin-top: -190px;
    margin-left: 70px;
}

.Square--Square3 {
    background-color: rgb(217, 255, 0);
    margin-top: -190px;
    margin-left: 100px;
}